
.DS_Store
week_4/Artworks.csv
**/res/**

class
class/animal.py
class/pets.csv
class/week_2.py
class/week_3.py
class/week_4.py


misc
misc/art_nationalities_files
misc/get_nationalities.py
misc/my_files.txt
misc/nationalities.csv
